@import url(./reset.css);
@import url(./global.css);

body {
  margin: 0;
  padding: 0;
}

/*Barra de navegação*/

nav {
  width: 100vw;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .h-menu {
  display: flex;
}

nav .h-logo img {
  height: 6rem;
  margin-left: 1rem;
  margin-top: 1rem
}

nav .h-itens ul {
  margin-right: 1rem;
  display: flex;
  gap: 2rem;
}

nav .h-itens a {
  transition: .5s ease-in;
}

nav .h-itens a:hover {
  color: red;
}

/*Wrapper*/

header .h-wrapper {
  background-color: rgb(46, 36, 36);
}