@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: rgb(0, 0, 0)
}

::-webkit-scrollbar-thumb{
  background: rgb(63, 63, 63);
}

.genericButton{
  cursor: pointer;
  transition-duration: 0.3s;
}