@import url(./reset.css);
@import url(./global.css);

body {
  margin: 0;
  padding: 0;
}

/*Barra de navegação*/

nav {
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .h-menu {
  display: flex;
}

nav .h-logo img {
  height: 6rem;
  margin-left: 1rem;
  margin-top: 1rem
}

nav .h-itens ul {
  margin-right: 1rem;
  display: flex;
  gap: 2rem;
}

nav .h-itens a {
  transition: .5s ease-in;
}

nav .h-itens a:hover {
  color: red;
}

/*Wrapper*/

header .h-wrapper {
  height: 100vh;
  background-color: rgb(46, 36, 36);
}

.h-wrapper .h-wrapper-image img{
  height: 100%;
  width: 100%;

  opacity: 0.2;
}

/*Itens para compra*/

.b-container {
  position: absolute;
  height: fit-content;
  width: 60%;
  margin-top: 10rem;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(92, 25, 25);
  font-size: 2rem;
  padding: 4rem;
}
.topics-images {
  position: absolute;
  height: fit-content;
  width: 20%;
  margin-top: 10rem;
  margin-left: 3rem;
}
.products-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 14% 63% 15%;
  gap: 4%;
}

.buy1 {
  width: 10rem;
  height: 5rem;
  border-radius: 10%;
  background: white;
  border: 3px solid green;
  color: green;
}

.buy1:hover {
  background: green;
  color: white;
}