@import url(./reset.css);
@import url(./global.css);

body {
  margin: 0;
  padding: 0;
}

/*Barra de navegação*/

nav {
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .h-menu {
  display: flex;
}

nav .h-logo img {
  height: 6rem;
  margin-left: 1rem;
  margin-top: 1rem
}

nav .h-itens ul {
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
}

nav .h-itens {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .h-itens a {
  transition: .5s ease-in;
}

nav .h-itens a:hover {
  color: red;
}

.h-bar-line {
  background-color: rgb(63, 63, 63);
  width: 0.2rem;
  height: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -1rem;
}

nav .h-buy-cart a {
  margin: 1rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav .h-buy-cart a icon {
  position: relative;
  display: block;
  line-height: 7.5rem;
  text-align: center;
}

/*Wrapper*/

.h-wrapper {
  height: 100vh;
  background-color: rgb(46, 36, 36);
}

.h-wrapper-container {
  position: absolute;
  top: -7rem;
  margin: 37rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.h-wrapper .h-wrapper-image img{
  height: 100%;
  width: 100%;
  position: absolute;

  opacity: 0.5;
}

/*Coluna de personagens*/

.h-columns-caractere {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Coluna de personagens coluna direita*/

.h-columns-caractere .h-column-right ul li {
  position: relative;
  height: 20rem;


}

.h-columns-caractere .h-column-right ul li img{
  margin: 5rem;
  height: 20rem;
  opacity: 0.5;

  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.h-columns-caractere .h-column-right ul li img:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*Coluna de personagens coluna esquerda*/

.h-columns-caractere .h-column-left ul li {
  position: relative;
  height: 20rem;
}

.h-columns-caractere .h-column-left ul li img{
  margin: 5rem;
  height: 20rem;
  opacity: 0.5;

  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.h-columns-caractere .h-column-left ul li img:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*Main*/
main .background-image-main {
  height: 100vh;
  background-color: rgb(46, 36, 36);
  position:absolute;

}

main .background-image-main img { 
  height: 100vh;;
  width: 99.3vw;
  opacity: 0.2;
}
/*Itens para compra*/

.b-container {
  position: absolute;
  height: fit-content;
  width: 60%;
  margin-top: 10rem;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(92, 25, 25);
  font-size: 2rem;
  padding: 4rem;
}
.topics-images {
  position: absolute;
  height: fit-content;
  width: 20%;
  margin-top: 10rem;
  margin-left: 3rem;
}
.products-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.products-grid .title-game {
  text-align: center;
}

.buy1 {
  width: 10rem;
  height: 5rem;
  margin-left: 5rem;
  border-radius: 10%;
  background: white;
  border: 3px solid green;
  color: green;
  gap: 2rem;
}

.buy1:hover {
  background: green;
  color: white;
}

.buy2 {
  width: 10rem;
  height: 5rem;
  margin-left: 6rem;
  color: white;
}