@import url(./reset.css);
@import url(./global.css);

body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100vw;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .h-logo img {
  height: 10rem;
}

nav .h-itens ul {
  display: flex;
  gap: 2rem;
}